/*Google fonts'Poppins' import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #434656;
    text-align: left;
    background-color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
}

.nav-bar {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: #434656;
    text-decoration: none;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #434656;
    text-decoration: none;
    padding: 10px;
}

/* credit to https://codepen.io/toianw/pen/YqEqrz */
li > a {
    color: #434656;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
  
li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;  
}
  
li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: #EED815;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: #434656;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

